{{ define "main" }}
  {{- if .Site.IsServer -}} {{ "<!-- parctice-are: single.html -->" | safeHTML }} {{- end -}}
  {{ partial "page-header.html" . }} 
  <section class="section-padding bg-gray service-page">
    <div class="container">
      <div class="row j-center">
        <aside class="col-lg-4">
          <div class="sidebar_wrap mb-md-80">
            <div class="sidebar">
              <div class="sidebar_widgets mb-xl-30">
                <div class="widget_title bg-light-blue">
                  <h5 class="no-margin text-custom-white fw-600">Practice Area</h5>
                </div>
                <ul class="custom sidebar-services">
                  {{ range where .Site.RegularPages.ByWeight "Type" "practice-area" }}
                    <li class=""> <a href="{{ .RelPermalink }}" class="text-custom-black fs-14">{{ .Title }}
                      <span><i class="fas fa-chevron-right"></i></span></a>
                    </li>
                  {{ end }}
                 
                </ul>
              </div>
              <div class="sidebar_widgets mb-xl-30">
                <div class="widget_title bg-light-blue">
                  <h5 class="no-margin text-custom-white fw-600">Contact US</h5>
                </div>
                <table class="table text-custom-black">
                  <tbody>
                    <tr>
                      <td>Phone No</td>
                      <td class="text-right"><a href="tel:{{ .Site.Params.phone_no_url }}">{{ .Site.Params.phone_no }}</a></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td class="text-right"><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <!-- <div class="sidebar_widgets">
                <div class="widget_title bg-light-blue">
                  <h5 class="no-margin text-custom-white fw-600">Recent Blog</h5>
                </div>
                <ul class="custom popular_post">
                  {{range (where .Site.RegularPages.ByDate "Type" "blog").Reverse }}
                  <li>
                    <div class="post">
                      <div class="post-wrapper">
                        <div class="popular_post_img animate-img">
                          <a href="{{ .RelPermalink }}">
                            <img src="{{ .Params.blog_image }}" class="img-fluid image-fit" alt="#">
                          </a>
                        </div>
                        <div class="popular_post_title">
                          <div class="post-date">
                            <p class="no-margin">{{ dateFormat "Jan 02, 2006" .Params.blog_date }}</p>
                          </div>
                          <h6><a href="{{ .RelPermalink }}" class="text-custom-black fs-16 fw-600">{{ .Title }}</a></h6>
                        </div>
                      </div>
                    </div>
                  </li>
                  {{ end }}
                 
                </ul>
              </div> -->
            </div>
          </div>
        </aside>
        <div class="col-lg-8">
          <div class="service-detail-sec bg-custom-white bx-wrapper">
            <div class="service-meta content mb-xl-30">
              <div class="text-custom-black">
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{- if .Site.IsServer -}} {{ "<!-- END parctice-are: single.html -->" | safeHTML }} {{- end -}}
{{ end }}